@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

textarea {
  resize: none;
}

/*--------------------*/
* {
  font-size: 15px;
  font-family: OpenSans;
}

h1 {
  font-size: 30px;
  color: #212121;
}

h2 {
  font-size: 20px;
}

button {
  cursor: url(/img/cursor1.cur), pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1000;
  font-size: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  height: auto;
  white-space: nowrap;
}

.header .logo {
  margin: 2rem;
  margin-left: 6rem;
}

.header .links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10rem;
}

.header .links a {
  color: black;
  margin: 2rem;
}

.header .links a:hover {
  color: #614405;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 700px;
}

.home {
  min-height: 100vh;
  background-color: #fff;
  background-image: url(/img/laptop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

.home h2 {
  font-size: 22px;
  color: white;
}

.home .home__title {
  font-size: 2rem;
  padding-bottom: 10%;
}

.home .home__subtitle {
  font-size: 1rem;
}

.home .transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 8px;
  width: 80%;
  max-width: 150px;
  min-width: auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.home .btn:hover {
  background-color: green;
}

.about {
  background-color: #dfd9d9;
  padding-top: 10rem;
}

.about h1,
.about p {
  text-align: center;
}

.about h1 {
  font-size: 30px;
  color: #212121;
}

.about h2 {
  margin: 15px;
  font-size: 20px;
  color: #212121;
}

.about .about__text {
  margin: 30px 25% 10%;
}

.skils {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.skils img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: auto;
  padding-bottom: 30px;
}

.skils h1,
.skils p {
  padding-bottom: 30px;
}

.skils .skils__item {
  height: 380px;
  max-width: 350px;
  min-width: auto;
}

.services {
  min-height: 1400px;
  background-color: #e4fdfa;
  padding-top: 10rem;
}

.services__text {
  margin: 30px 25% 10%;
}

.bloks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.bloks .bloks__item {
  background-color: #fff;
  height: auto;
  max-width: 380px;
  min-width: auto;
  padding-bottom: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.bloks .bloks__item:hover {
  background-color: #00887a;
  color: white;
}

.bloks .bloks__item:hover button {
  background-color: #00887a;
  border: white 2px solid;
  color: white;
}

.bloks .bloks__item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: auto;
}

.bloks .bloks__item h1,
.bloks .bloks__item p,
.bloks .bloks__item img {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.bloks .bloks__item button {
  padding: 10px;
  font-size: 20px;
  background-color: #fff;
  text-transform: uppercase;
  border: black 2px solid;
}

.works {
  background-color: #fff;
  padding-top: 10rem;
  width: auto;
  min-height: 1616px;
}

.works img {
  margin: auto;
  margin-bottom: 30px;
  max-width: 370px;
  min-width: auto;
  max-height: auto;
  min-height: auto;
}

.works .works__imges {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 120px;
  margin-bottom: 120px;
}

.works .works__text {
  margin: 30px 25% 10%;
}

.works .works__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.works .works__buttons .active {
  background-color: #0cddc8;
  color: white;
}

.works .works__buttons button {
  padding: 10px;
  font-size: 20px;
  background-color: #fff;
  text-transform: uppercase;
  border: #00887a 3px solid;
}

.works .works__buttons button:hover {
  background-color: #00887a;
  color: #fff;
}

.contact {
  width: 100%;
  height: 1254px;
  background-color: #212121;
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.contact * {
  color: white;
}

.contact .contact__text {
  margin-top: 30px;
}

.contact .contactus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.contact .contactus p {
  margin: 10px;
}

.contact .contactus__item {
  height: 250px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contactus__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  width: 105px;
  height: 105px;
  background-color: #3949ab;
}

.contact .feedback * {
  color: black;
}

.contact .feedback .name {
  max-width: 500px;
  max-height: 84px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 35px;
}

.contact .feedback .email {
  max-width: 500px;
  max-height: 84px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 35px;
}

.contact .feedback .massage {
  max-width: 1000px;
  max-height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 35px;
}

.contact .feedback button {
  text-transform: uppercase;
  width: 100%;
  max-width: 220px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact .feedback button:active {
  background-color: green;
}

footer {
  height: auto;
  width: auto;
  background-color: #fff;
  padding: 15px 0;
}

footer p {
  font-family: Roboto;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .skils,
  .bloks,
  .works .works__imges {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 820px) {
  .skils,
  .bloks,
  .works .works__imges {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .contact .contactus {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .skils,
  .bloks,
  .works img {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .skils,
  .bloks,
  .works img {
    width: 300px;
    height: auto;
  }
}
